/*************************Home*************************/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

.main-body {
    margin-top: 2px;
    display: flex;
    /*border: 1px solid #a0a0a0;*/ /*for debugging*/
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
}

/*************************Navigationg bar menu*************************/
.navbar {
    align-items: baseline;
}
.navbar-dark {
    width: 100%;
}
.navbar-brand {
    font-size: 1.2em;
    float: left;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand h2 {
    font-size: 2.5em;
}

.navbar-dark {
    background-color:#000000 !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(192, 248, 204);
    font-weight: bolder;
  }

.navbar-dark .navbar-nav .nav-link {
    color: rgb(225, 224, 233);
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.information, .bass, .guitar, .home{
    font-weight: bolder;
    font-size: 1.7em;
}

.navbar-brand {
    margin-right: 2em;
}

/*************************Index.html*************************/
.home-container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    color: #292828;
    /*border: 1px solid red;*/
}
.carousel-inner > .carousel-item > img {
    height: 25em;
    
}
.home-container2 {
    /*border: 1px solid orange;*/
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#main-1 {
    /*border: 1px solid green;*/
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 3em;
}
#welcome-h2{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: rgb(225, 224, 233);
    background-color: #000000;
    margin-bottom: .2em;
    margin-left: 7px;
    margin-right: 5px;
}
.synopsis {
    font-size: 1.5em;
    padding-left: 25px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
}
#main-2 {
    /*border: 1px solid blue;*/
    background-color: #eeeeee;
    margin-top: 2em;
    width: 100%;
    height: auto;
    display: grid;
    align-items: baseline;    
    grid-area: main-2;
    grid-gap: 2%;
    grid-template-columns: 32% 32% 32%;
    grid-template-areas: "bottom-1 bottom-2 bottom-3";
    /*max-width: 100%;
    max-height: 100%;*/
}
.button {
    text-align: center;
    font-size: 2em;
    color: #fcfcfc;
    background-color:#000000;
    font-family: 'Oswald', sans-serif;
}
.button:hover {
    color: rgb(171, 245, 187);
    background-color: #080808;
    text-decoration: none;
    font-weight: bolder;
}

.home-container3 {
    padding-top: 10px;
    font-size: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: #f0f0f0;
}
#instar, #facebook {
    color: #292828;
}
#instar:hover, #facebook:hover {
    font-weight: bold;
    text-decoration: none;
}
/*************************about.html*************************/
.my-pic {
    margin-top: 5px;
    margin-bottom: auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    max-height: 100%;
}
.content-about {
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.story {
    /*border: 1px solid blue;*/
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    flex-flow: column wrap;
}
.story h2 {
    color: #4e4e4e;
    background-color: #ececec;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 2em;
    align-items: center;
    font-weight: bolder;
    margin-left: 5px;
}
.hr-line {
    font-weight: bolder;
    color:#4e4e4e;
    margin-left: 5px;
}
.contact-info {
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color:#4e4e4e;
}
#contact-list {
    list-style-type: none;
}
.networks a{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}
#facebook {
    margin-left: 60px;
}
#instar:hover {
    background-color: #e9e9e9;
    border-radius: 100%;
}
#facebook:hover {
    background-color: #e9e9e9;
    border-radius: 100%;
}

/*************************portfolio.html*************************/
.port-container {
    height: 100%;
    /*background-color: green;*/
    display: grid;
    align-items: center;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 3% 32% 32% 32%;
    grid-template-areas:"port-intro port-intro port-intro"
                        "pic-1 pic-2 pic-3"
                        "pic-4 pic-5 pic-6"
                        "pic-7 pic-8 pic-9"
}
.port-container div {
    height: 100%;
    background-color:#ececec;
    border-radius: 5%;
}
#port-intro {
    grid-area: port-intro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Hachi Maru Pop', cursive;
    background-color: #ececec;
}
#port-intro h2 {
    font-size: 1em;
    font-weight: bolder;
    color: #4e4e4e;
}
.port-pics {
    max-width: 100%;
    max-height: 100%;
}
#pic-1 {
    grid-area: pic-1;
}
#pic-2 {
    grid-area: pic-2;
}
#pic-3 {
    grid-area: pic-3;
}
#pic-4 {
    grid-area: pic-4;
}
#pic-5 {
    grid-area: pic-5;
}
#pic-6 {
    grid-area: pic-6;
}
#pic-7 {
    grid-area: pic-7;
}
#pic-8 {
    grid-area: pic-8;
}
#pic-9 {
    grid-area: pic-9;
}


/*************************reviews.html*************************/
.review-container {
    display: flex;
    flex-flow: column wrap;
    /*border: 1px solid #ff0303;*/
}
#testimonials {
    font-family: 'Hachi Maru Pop', cursive;
    display: flex;
    justify-content: center;
    background-color: #ececec;
}
#testimonials h2 {
    font-size: 2em;
    font-weight: bolder;
    color: #4e4e4e;
}
.review-1 {
    display: flex;
    flex-flow: row wrap;
   /*border: 1px solid #0400fc;*/
}
.review-2 {
    display: flex;
    flex-flow: row wrap;
    /*border: 1px solid #0400fc;*/
}
.review-3 {
    display: flex;
    flex-flow: row wrap;
    /*border: 1px solid #0400fc;*/
}
#first-1 {
    background-color:#ececec;
    border-radius: 5px;
}
#first-2 {
    /*border: 1px solid #fc00fc;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#second-1 {
    /*border: 1px solid #2afc00;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#second-2 {
    background-color:#ececec;
    border-radius: 5px;
}
#third-1 {
    background-color:#ececec;
    border-radius: 5px;
}
#third-2 {
    /*border: 1px solid #fc00fc;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#names {
    font-weight: bolder;
    background-color:#f1f1f1;
    display: flex;
    justify-content: center;
    margin-left: 80%;
}

/*************************footer*************************/
.footer-content {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: whitesmoke;
    background-color:#050505;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Hachi Maru Pop', cursive;
}

.link-repo a:hover, .link-home a:hover {
    color: rgb(192, 248, 204);
    text-decoration: none;
    font-weight: bold;
}
.link-repo a, .link-home a{
    color: whitesmoke;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
}

